
.icon-bass-guitar:before { content: '\e800'; } /* '' */
.icon-guitar:before { content: '\e801'; } /* '' */
.icon-mandolin:before { content: '\e802'; } /* '' */
.icon-ukulele:before { content: '\e803'; } /* '' */
.icon-baglamas:before { content: '\e804'; } /* '' */
.icon-charango:before { content: '\e805'; } /* '' */