.instrument-selector {
  width: 190px;
  height: 190px;
  border: 2px solid white;
  margin-top: 10px;
  display: inline-block;
  font-size: 24px;
  margin-bottom: 20px;
}
.instrument-selector i {
  font-family: 'fontello';
  font-size: 92px;
  display: block;
  margin-top: 20px;
}
.instrument-selector:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.instrument-selector .Guitar {
  background-position: top center;
  height: 100%;
  width: 100%;
}
.instrument-selector .Ukulele {
  background-position: top center;
  height: 100%;
  width: 100%;
}
.instrument-selector .Bass.Guitar {
  background-position: top center;
  height: 100%;
  width: 100%;
}
